<div class="d-flex flex-column align-items-center">

  <h3>Detalles de el Libro</h3>

  <div class="card">

    {{!-- * Opcion 1: --}}

    {{#with this.bookDetails}}

      <img class="card-img-top" src="{{coverImage}}" alt="cover" width="300px">

      <div class="card-body">
        <h5 class="card-title">Titulo: {{title}}</h5>
        <p class="card-text">Descripción: {{description}}</p>
        {{!-- <p>Autor: {{author}}</p> --}}
        {{!-- <p>Autor: {{author.name}} nacio en {{author.country}} en {{author.yearBorn}}</p> --}}

        {{#each author}}
          <p class="card-text">Autor: {{this.name}} nacio en {{this.country}} en {{this.yearBorn}}</p>
        {{/each}}
      </div>



    {{/with}}

    {{!-- * Opcion 2: --}}

    {{!-- {{#with this.bookDetails}}

      <h4>Titulo: {{this.title}}</h4>
      <p>Descripción: {{this.description}}</p>
      <p>Autor: {{this.author}}</p>

    {{/with}} --}}

    {{!-- * Opcion 3: --}}

    {{!-- <h4>Titulo: {{this.bookDetails.title}}</h4>
    <p>Descripción: {{this.bookDetails.description}}</p>
    <p>Autor: {{this.bookDetails.author}}</p> --}}

    <a class="btn btn-warning update-btn" href="/book/{{this.bookDetails._id}}/edit">
      Ir a Actualizar
    </a>

    <br>

    {{!-- <a href="/book/{{this.bookDetails._id}}/delete">
      <button>Borrar</button>
    </a> --}}

    <form action="/book/{{this.bookDetails._id}}/delete" method="post">
      <button class="btn btn-danger">Borrar</button>
    </form>

  </div>

</div>