<div>

  <h3>Formulario de Actualizar Libro</h3>

  {{!-- {{data del libro}} --}}
  {{!-- {{this.bookDetails}} --}}

  <form action="/book/{{this.bookDetails._id}}/edit" method="post">

    <label for="title">Titulo</label>
    <input type="text" name="title" value="{{this.bookDetails.title}}">
    {{!-- todo placeholder --}}

    <br>

    <label for="description">Descripción</label>
    <input type="text" name="description" value="{{this.bookDetails.description}}">

    <br>

    {{!-- <label for="author">Autor</label>
    <input type="text" name="author" value="{{this.bookDetails.author}}"> --}}

    <select name="author" multiple="true">

      {{#each this.allAuthors}}
        {{#if this.isSelected}}
          <option selected value="{{this._id}}">{{this.name}}</option>
        {{else}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
      {{/each}}

    </select>

    <br>

    <button>Actualizar</button>

  </form>

</div>